* {
    margin: 0;
    padding: 0;
    outline: 0;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

/* Navbar part css start */

.navbar-expand-lg .navbar-nav .nav-link {
    transition: all 0.3s ease;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.4px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: tomato !important;
}


.navbar-toggler div {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px 0;
    border-radius: 10px;
  }
/* Navbar part css end */

/* Login part css start */

form.loginForm {
    border: 1px solid #d0d0d0;
    margin-top: 30px;
    border-radius: 8px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

form.loginForm h1 {
    text-align: center;
    position: relative;
    font-size: 35px;
    padding-bottom: 10px;
    margin-bottom: 12px;
}

form.loginForm h1:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 43px;
    height: 3px;
    background: #212529;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    box-shadow: none !important;
}

/* Login part css end */

/* 404 not found css start */

.row.pageNotFound text {}

.pageNotFound .text h1 {
    color: tomato;
    font-size: 100px;
    font-weight: 700;
}

.pageNotFound .text h2 {
    font-size: 37px;
    font-weight: 700;
}

.pageNotFound .text p {
    font-weight: 500;
    letter-spacing: -0.4px;
    margin-top: 20px;
}

.pageNotFound .text a {
    color: white;
    background: tomato;
    text-decoration: none;
    padding: 11px 30px;
    margin-top: 13px;
    display: inline-block;
    border-radius: 6px;
    font-weight: 600;
}

.pageNotFound .text a:hover {
    text-decoration: underline;
}

/* 404 bit found css end */